<!-- about.html -->

{% extends 'base.html' %}

{% block title %}About TMA Warehouse App{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>About TMA Warehouse App</h1>
        <p>
            The TMA Warehouse App is a web-based application designed to manage inventory and purchase requests
            for a warehouse. It provides functionalities for adding, editing, and viewing items in the warehouse,
            as well as processing purchase requests submitted by employees. With features like filtering, searching,
            and detailed request tracking, the application streamlines warehouse management operations and enhances
            efficiency.
        </p>
        <p>
            This project is aimed atoptimizing inventory control and procurement processes. The application is built using Python Flask
            for the backend, HTML/CSS for the frontend, and SQLite for the database.
        </p>
        
    </div>
{% endblock %}

